PORT=8000
MONGO_URI=mongodb://localhost:27017/project-camp
ACCESS_TOKEN_SECRET=change_this_to_a_long_random_string
REFRESH_TOKEN_SECRET=change_this_to_another_long_random_string
ACCESS_TOKEN_EXPIRE=1d
REFRESH_TOKEN_EXPIRE=10d
NODE_ENV=development
CORS_ORIGINS=http://localhost:8000
SERVER_URL=http://localhost:8000
MAILER_HOST=smtp.gmail.com
MAILER_PORT=587
MAILER_USER=
MAILER_PASS=
